html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
           font-smoothing: antialiased;
           text-rendering: optimizeLegibility;
}

body {
  font-family: $font-secondary;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.bg-blue {
  //background: url("../img/bg.jpg") top left fixed no-repeat;
  position: fixed;
  top: 0;
  right: 46%;
  width: 100%;
  min-height: 100%;

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    min-height: 800px;
  }
}

.wrapper {
  margin-top: 4%;
  //min-width: 1200px;
}

.left {
  @include make-xs-column(12);
  @include make-md-column(6);
}

.right {
  @include make-xs-column(12);
  @include make-md-column(5);
  @include make-md-column-offset(1);
}

.logo {
   visibility: hidden;
}

.present {
  color: #fff;
  text-align: center;
            transition: all 3s ease;
    -webkit-transition: all 3s ease;
       -moz-transition: all 3s ease;
        -ms-transition: all 3s ease;
         -o-transition: all 3s ease;

  h2, h5 {
    font-family: $font-primary;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: ceil($font-size-base * 2.2);
    font-weight: 600;
    margin: 0;
  }

  h5 {
    font-size: ceil($font-size-base * 1.4);
    margin: $m-lg 0 5px 0;
  }

  h3 {
    font-family: $font-primary;
    font-size: ceil($font-size-base * 1.8);
    margin-top: $m-md;
    font-weight: 300;
    text-align: center;
  }

  .ebook-preview {
    margin-top: $m-md;
  }
}

.feature {
  @include clearfix;
  margin-top: $m-md;

  .icon {
    padding: $m-xs;
    margin-right: $m-sm;
    font-size: 40px;
    border: 1px solid #cfd8dc;
    border-radius: 70px;
    color: #cfd8dc;
    width: 80px;
    height: 80px;
    text-align: center;
  }

  .info {
    h3 {
      font-size: ceil($font-size-base * 1.3);
      font-family: $font-primary;
      color: #5672a0;
      line-height: 1.4em;
      margin-top: 0;
      margin-bottom: ceil($m-xs / 2);
    }

    p {
      font-size: ceil($font-size-base * 0.9);
      font-weight: 300;
      color: #777;
      text-align: justify;
      line-height: 1.4em;
    }
  }
}

.call-to-action {
  text-align: center;
  margin: $m-lg 0 $m-lg 0;
  visibility: hidden;

  .btn-success {
    @include button-size (15px, 110px, 11px, 1.5em, $border-radius-base);
    @include button-variant(#fff, #4caf50, transparent);
    border-radius: ceil($border-radius-base * 8);
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
}

.ebook-download-form {
  h4 {
    font-size: ceil($font-size-base * 1.3);
    font-family: $font-primary;
    color: #5672a0;
    line-height: 1.4em;
  }
  .control-label {
    font-size: $font-size-base;
    margin-bottom: ceil($m-xs / 2);
    font-weight: 300;
  }
  .form-group {
    margin: $m-xs 0 $m-xs 0;
  }
}

// Need refactory

.img-responsive {
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    margin-top: 0;
  }
  .bg-blue, .ebook-preview {
    display: none;
  }
  .left {
    background: url("../img/bg.jpg") top left fixed no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
