//Fonts
$font-primary: 'Titillium Web', sans-serif;
$font-secondary: 'Open Sans', 'helvetica neue', helvetica, arial, sans-serif;

//Bootstrap variables
$body-bg: #fff;
$text-color: $gray-dark;
$font-size-base: 13px;

//Simple alignments
$m-xs: 10px;
$m-sm: 20px;
$m-md: 30px;
$m-lg: 40px;
